.banners {
  align-items: center;
  display: flex;
  padding-top: 9.7rem;
  overflow: hidden;
}

.banner-slider {
  display: flex;
  position: relative;
}

.banner-slider-item {
  flex-shrink: 0;
  width: 90vw;
  padding: 0 1rem 3rem;
  position: relative;

}

.banner-slider-counter {
  font-size: 2rem;
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.banner-slider-link {
  display: block;
  position: relative;
}

.banner-slider-link::before {
  border: .4rem solid rgba(255, 255, 255, 0);
  content: '';
  position: absolute;
  inset: 0;
  border-radius: .5rem;
  transition: border 0.3s;
}

.banner-slider-link:hover::before {
  border-color: rgba(255, 255, 255, 0.7);
}

.banner-slider-cover {
  border-radius: .5rem;
  display: block;
  width: 100%;
  box-shadow: #000 0rem 2rem 3rem -2rem;
  width: 100%;
}

.banner-slider-title {
  animation: slideLeft 2s;
  left: 0;
  top: 0;
  display: none;
  position: absolute;
  width: 100%;
}

.banner-slider-title.active {
  display: block;
}

.banners .arrow-slider {
  margin-top: -3rem;
  position: absolute;
  z-index: 2;
}

.banners .arrow-slider-left {
  left: 3.6rem;

}

.banners .arrow-slider-right {
  right: 3.6rem;

}

.banners .controls-slider {
  bottom: 4.6rem;
  right: 11.6rem;
}

@media screen and (max-width:1024px) {
  .banner {
    padding-top: 7.2rem;
  }

  .banner-slider-item {
    width: 85vw;
  }

  .banners .arrow-slider-left {
    left: 1rem;

  }

  .banners .arrow-slider-right {
    right: 1rem;

  }

  .banners .controls-slider {
    right: 50%;
    transform: translateX(50%);
  }
}